---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
import LeadSourcePicker from '../../../components/leads/LeadSourcePicker';
---

<DashboardLayout title="Lead Scraper" pageTitle="Lead Scraper">
  <div class="mx-auto max-w-6xl space-y-6 min-w-0">
    <p class="text-sm text-[#888888]">Choose a lead source to start scraping.</p>
    <LeadSourcePicker client:load />
  </div>
</DashboardLayout>
